In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Create sample data for the bar charts
df = pd.read_json('StreamingHistory0_NEW.json')

In [20]:
# num_artists_listened = df['artistName'].value_counts()
num_song_listened = df['trackName'].value_counts()

In [21]:
# num_artists_listened = pd.DataFrame(num_artists_listened)
num_song_listened = pd.DataFrame(num_song_listened)

In [22]:
num_song_listened.head()

                                             count
trackName
Doin' This                                      40
I Like You (A Happier Song) (with Doja Cat)     37
Forever After All                               34
Unknown Track                                   32
Calling All Angels (with Quinn XCII)            29

In [23]:
num_song_listened.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3741 entries, Doin' This to Sycamore
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   3741 non-null   int64
dtypes: int64(1)
memory usage: 58.5+ KB

In [24]:
num_song_listened.reset_index(names='Track', inplace=True)

In [25]:
num_song_listened.head()

                                         Track  count
0                                   Doin' This     40
1  I Like You (A Happier Song) (with Doja Cat)     37
2                            Forever After All     34
3                                Unknown Track     32
4         Calling All Angels (with Quinn XCII)     29

In [26]:
num_song_listened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3741 entries, 0 to 3740
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Track   3741 non-null   object
 1   count   3741 non-null   int64
dtypes: int64(1), object(1)
memory usage: 58.6+ KB

In [11]:
# num_artists_listened.rename(columns={'artistName': 'Count'}, inplace=True)

In [31]:
# num_artists_listened['Artist']
num_song_listened.loc[0,'Track']

"Doin' This"